<!DOCTYPE html>
<html lang="ja">
  <head>
    <div class="container">
      <h1 class="page-content-header_title">メモアプリ</h1>
      <link rel="stylesheet" type="text/css" href="/css/app.css">
    </div>
  </head>

  <body>
    <div>
      <form action="/memos/<%= params[:id] %>" method="post">
        <div class="edit-memo-title">
          <label for="title" class="form-label"></label>
          <input type="text" id="title" name="title" value="<%= @title %>" class="form-control">
        </div>
        <div class="edit-memo-content">
          <label for="content" class="form-label"></label>
          <textarea id="content" name="content" class="form-control"><%= @content %></textarea>
        </div>
        <div class="btn btn-edit">
          <input type="hidden" name="_method" value="patch">
          <input type="submit" value="変更">
        </div>
      </form>
  </body>
</html>
