<!DOCTYPE html>
<html lang="ja">
  <head>
    <h2>メモアプリ</h2>
    <div class="create-memo-button">
      <a class="btn btn-secondary" href="/memos/new">追加</a>
    </div>
  </head>

  <body>
    <ul>
      <% @memos.each do |id, post| %>
        <li>
          <a href="/memos/<%= id %>"><%= post["title"] %></a>
        </li>
      <% end %>
    </ul>
  </body>
</html>
