<!DOCTYPE html>
<html lang="ja">
  <head>
    <div class="container">
      <h1 class="page-content-header_title">メモアプリ</h1>
      <a div class="create-memo-button" href="/memos/new">追加</a>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
      </a>
    </div>
  </head>

  <body>
    <ul>
      <% @memos.each do |id, post| %>
        <li>
          <a href="/memos/<%= id %>"><%= post["title"] %></a>
        </li>
      <% end %>
    </ul>
  </body>
</html>
