<!DOCTYPE html>
<html lang="ja">
  <head>
    <div class="container">
      <h1 class="page-content-header_title">メモアプリ</h1>
      <link rel="stylesheet" type="text/css" href="/css/app.css">
    </div>
  </head>

  <body>
    <div class="create-memo">
      <link rel="stylesheet" type="text/css" href="/css/new.css">
      <form action="/memos" method="post">
        <div class="create-memo-title">
          <input type="text" id="title" name="title" class="form-control">
        </div>
        <div class="memo-content">
          <label for="content" class="form-label"></label>
          <textarea id="content" name="content" class="form-control"></textarea>
        </div>
      </form>
    </div>
    <div>
      <input type="submit" value="保存" class="btn btn-primary">
    </div>
  </body>
</html>
