<!DOCTYPE html>
<html lang="ja">
  <head>
    <h2>メモアプリ</h2>
  </head>

  <body>
    <div>
      <form action="/memos" method="post">
        <div class="mb-3">
          <label for="title" class="form-label"></label>
          <input type="text" id="title" name="title" class="form-control">
        </div>
        <div class="mb-3">
          <label for="content" class="form-label"></label>
          <textarea id="content" name="content" class="form-control"></textarea>
        </div>
        <div>
          <input type="submit" value="保存" class="btn btn-primary">
        </div>
      </form>
  </body>
</html>

