<!DOCTYPE html>
<html lang="ja">
  <head>
    <h2>メモアプリ</h2>
  </head>

  <body>
    <div>
      <p><%= @title %></p>
      <p><%= @content %></p>

    <div class="create-memo-button">
      <a class="btn btn-secondary" href="/memos/<%= params[:id] %>/edit">変更</a>
    </div>
  </body>
</html>
