<!DOCTYPE html>
<html lang="ja">
  <head>
    <h2>メモアプリ</h2>
  </head>

  <body>
    <div class="create-memo-button">
      <a class="btn btn-secondary" href="/memos">memo一覧</a>
    </div>
  </body>
</html>
