.edit-memo-button {
  margin: 0;
  height: 100%;
  background-color: #ffcb5b;
  padding: 5px 40px;
  border: solid 1px;
  text-decoration: none;
  border-radius: 0.5rem;
  border-color: #a9a9a9;
  color: #000000;
  font-size: 15px;
}
